//- views/user.pug
doctype html
html
  head
    title= title
  body
    h1 User Profile
    p Name: #{user.name}
    p Age: #{user.age}
    p Occupation: #{user.occupation}
    a(href='/') Go to Homepage
